<!-- <div class="container content">
    <div class="row justify-content-center">
      <div class="col-4">
        <img src="assets/about.jpg" class="img-fluid center" alt="Image of concrete steps">
      </div>
      <div class="col-8">
        <h1>About Us</h1>
        <p>
            At <b>ALC Paving Solutions LLC</b>, we are dedicated to delivering exceptional paving solutions for residential, commercial, and industrial clients. With over 20 years of industry experience, we have established ourselves as a trusted provider of high-quality concrete paving services.
            <br/><br/>
            Our team of skilled professionals is committed to excellence in every aspect of our work. From driveways and sidewalks to patios and parking lots, we take pride in delivering durable and visually appealing concrete surfaces that enhance the functionality and aesthetic value of properties.
            <br/><br/>
            <b>At ALC Paving Solutions LLC</b>, we prioritize customer satisfaction and strive to exceed expectations on every project. We work closely with our clients, understanding their unique needs and offering tailored solutions to meet their specific requirements and budget. Our attention to detail, quality craftsmanship, and efficient project management ensure that projects are completed on time and to the highest standards.
            <br/><br/>
            As a company, we value integrity, transparency, and open communication. We believe in building lasting relationships with our clients, suppliers, and partners based on trust and mutual respect. Our goal is to be the go-to concrete paving company, known for our professionalism, reliability, and the exceptional value we bring to every project.
            <br/><br/>
            Whether you require a new driveway, sidewalk repair, patio installation, or any other concrete paving service, you can rely on <b>ALC Paving Solutions LLC</b> to deliver outstanding results. Contact us today to discuss your project, and let us turn your vision into a beautifully paved reality :)
        </p>
      </div>
    </div>
  </div> -->

  <div class="container content clearfix">
    <img src="assets/about.jpg" class="img-fluid col-md-4 float-md-start mb-3 ms-md-3 pe-5" alt="Image of concrete steps">
  
    <h1>About Us</h1>
    <br/>
        <p>
            At <b>ALC Paving Solutions LLC</b>, we are dedicated to delivering exceptional paving solutions for residential, commercial, and industrial clients. With over 20 years of industry experience, we have established ourselves as a trusted provider of high-quality concrete paving services.
            <br/><br/>
            Our team of skilled professionals is committed to excellence in every aspect of our work. From driveways and sidewalks to patios and parking lots, we take pride in delivering durable and visually appealing concrete surfaces that enhance the functionality and aesthetic value of properties.
            <br/><br/>
            At <b>ALC Paving Solutions LLC</b>, we prioritize customer satisfaction and strive to exceed expectations on every project. We work closely with our clients, understanding their unique needs and offering tailored solutions to meet their specific requirements and budget. Our attention to detail, quality craftsmanship, and efficient project management ensure that projects are completed on time and to the highest standards.
            <br/><br/>
            As a company, we value integrity, transparency, and open communication. We believe in building lasting relationships with our clients, suppliers, and partners based on trust and mutual respect. Our goal is to be the go-to concrete paving company, known for our professionalism, reliability, and the exceptional value we bring to every project.
            <br/><br/>
            Whether you require a new driveway, sidewalk repair, patio installation, or any other concrete paving service, you can rely on <b>ALC Paving Solutions LLC</b> to deliver outstanding results. Contact us today to discuss your project, and let us turn your vision into a beautifully paved reality :)
        </p>
  </div>