<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">
        <img 
        src="assets/new_logo.png"
        alt="Logo" class="d-inline-block">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['./']" [routerLinkActiveOptions]= "{exact: true}">Home</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/services']">Services</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about']">About</a>
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/contact']">Contact</a>
        </ul>
      </div>
    </div>
  </nav>
  