<div class="container content">
    <h1>Services</h1>
    <p>
        We offer a comprehensive range of professional services to meet all your concrete paving needs in the DFW area. With our expertise and commitment to quality, we strive to deliver exceptional results that exceed your expectations. Our team of experienced professionals is dedicated to providing top-notch service and ensuring your complete satisfaction. We also provide free estimates!   
        Our services include:
    </p>
    <div class="row card-group">
        <div *ngFor="let service of services" class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-title"><i style="font-size: 2rem; color: #18D800;" class="bi {{service.icon}}"></i> {{service.service_name}} </p>
                    <p class="card-text">{{service.description}}</p>
                    <!-- <img src="{{service.image_loc}}" class="card-img-bottom" alt="..."> -->
                </div>
            </div>
        </div>
    </div>
</div>