<div class="container content">
    <h1>Services</h1>
    <p>These are the services that we currently offer! You can click on each individual card to learn more about that service and see some pictures of our previous projects.</p>

    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <a href="/about">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Special title treatment</h2>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/about">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Special title treatment</h2>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/about">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Special title treatment</h2>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>