.content {
  margin-top: 40px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 40px;
}

h1 {
  font-size: 30px;
  text-align: center;
}

h2 {
  text-align: center;
}

p, li {
  font-size: 19px;
  line-height: 1.85em;
}

p {
  text-align: center;
}

img {
  max-height: 480px !important;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center; 
}

ul {
  display: table;
  margin: 0 auto;
}

.card-text {
  font-size: 18px;
}

.card-title {
  font-size: 25px;
}

.card {
  border-radius: 4px;
  background: #fff;
  padding: 12px;
  margin-bottom: 10px;
}

#intro {
  color: white;
  background-color: black;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 767.98px) {
  #intro {
    padding-left: 18px;
    padding-right: 18px;
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
  }

  *{
    box-sizing: border-box;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .content {
    margin-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 40px;
  }
}